/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body .container, body .containerAct {
  background-color: #8BBBD9;
  padding: 5%;
  display: grid;
  gap: 1,5rem; }

body {
  background-color: #8BBBD9; }
  body header nav img {
    width: 10%;
    height: 10%; }
  body .container {
    margin-top: 13%; }
    body .container .div3 {
      display: none; }
    body .container div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  body footer {
    background-color: #F8F9FA;
    justify-content: center;
    display: flex;
    gap: 2rem; }
    body footer .botonScale:hover {
      transform: scale(0.9);
      grid-row: span 1; }

/*md de tablet*/
@media screen and (min-width: 600px) {
  .container {
    margin-top: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 1.5rem; }
    .container .div3 {
      display: block; }
  footer {
    margin-top: 10vh; } }

/*md de desktop*/
@media screen and (min-width: 1020px) {
  body header nav img {
    width: 8%;
    height: 8%; }
  body main {
    height: 115vh; }
  body .container {
    margin-top: 8%;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 38%);
    gap: 1rem; }
    body .container .div3 {
      display: block; }
  footer {
    margin-top: 1vh; } }

body .container, body .containerAct {
  background-color: #8BBBD9;
  padding: 5%;
  display: grid;
  gap: 1,5rem; }

body .container, body .containerAct {
  background-color: #8BBBD9;
  padding: 5%;
  display: grid;
  gap: 1,5rem; }

/*Html nosotros mobile first*/
body .container .colordiv {
  background-color: #F8F9FA; }

/*mq tablet*/
@media screen and (min-width: 600px) {
  body .container .colordiv {
    background-color: #8BBBD9; } }

/*mq desktop*/
@media screen and (min-width: 1020px) {
  body .container .colordiv2 {
    background-color: #F8F9FA; } }

body .container, body .containerAct {
  background-color: #8BBBD9;
  padding: 5%;
  display: grid;
  gap: 1,5rem; }

/*html actividades mobile first*/
body .containerAct {
  margin-top: 10%; }
  body .containerAct div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*mq tablet*/
@media screen and (min-width: 600px) {
  body .containerAct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 30%);
    gap: 2rem;
    margin-top: 10%; }
  body footer .actividades {
    margin-top: 5vh; } }

/*mq desktop*/
@media screen and (min-width: 1020px) {
  body .containerAct {
    grid-template-columns: repeat 2, 1fr;
    grid-template-rows: repeat(4, 50%);
    margin-bottom: 60vh;
    margin-top: 5%; }
  body footer {
    margin-top: 10vh; } }

body .container, body .containerAct {
  background-color: #8BBBD9;
  padding: 5%;
  display: grid;
  gap: 1,5rem; }

/*html contacto*/
body .container4 {
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: repeat(4, 20%);
  margin-bottom: 30vh;
  margin-top: 13%; }
  body .container4 .form1, body .container4 .form2 {
    display: flex;
    padding: 2%; }
  body .container4 .form2 {
    justify-content: flex-start; }
  body .container4 .form {
    background-color: #8BBBD9;
    display: flex;
    width: 40%;
    height: 30%;
    justify-content: center;
    align-items: center;
    transform: translate(75%, 0%); }

/*mq desktop*/
@media screen and (min-width: 1020px) {
  body .container4 {
    margin-top: 7%;
    margin-bottom: 5vh; } }
