* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*estilos generales de pantallas de celulares*/
body {
  background-color: #8BBBD9; }

body header nav img {
  width: 10%;
  height: 10%; }

.container{
  background-color: #8BBBD9;
  padding: 5%;
  margin-top: 13%;
  display: grid;
  gap: 1,5rem;
 
}

div img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

footer {
  background-color: #F8F9FA;
  justify-content: center;
  display: flex;
  gap: 2rem; 
  
}
.botonScale:hover{
  transform: scale(0.9);
  grid-row: span 1;
}

/*estilos item de main*/
.div3{
  display: none;
}

/*mq de Tablet*/

@media screen  and (min-width: 600px){
  .container .div3{
    display: block;
  }
  .container{
    margin-top: 10%;
  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 1.5rem;
  }
  footer{
    margin-top: 10vh;
  }

} 
/*mq desktop*/
@media screen and (min-width: 1024px )
{
   body header nav img {
    width: 8%;
    height: 8%;
   }
   main{
    height: 115vh;
   }
  .container .div3{
    display: block;
  }
  .container{
    margin-top: 8%;
    margin-bottom: none;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 38%);
    gap: 1rem;
  }
  footer{
    margin-top: 1vh;
  }
}


/*html "nosotros" especificaciones*/

.colordiv{
  background-color: #F8F9FA;
}

/* mq de tablet*/
@media screen and (min-width: 600px)
{
  .colordiv{
    background-color: #8BBBD9;
}
}

/*mq desktop*/
@media screen and (min-width:1020px)
{
  .colordiv2{
    background-color: #F8F9FA;
  }
}

/*estilos especificos para html Actividades*/
/*mobile*/
.containerAct{
  background-color: #8BBBD9;
  padding: 5%;
  margin-top: 10%;
  display: grid;
  gap: 1,5rem;
}
/*mq tablet*/
@media screen and (min-width:600px)
{
  .containerAct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4,30%) ;
    gap: 2rem;
    margin-top: 10%;
  }
  footer .actividades{
    margin-top: 5vh ;
  }
}
/*desktop*/
@media screen and (min-width: 1020px)
{
  .containerAct{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, 50%) ;
    margin-bottom: 60vh;
    margin-top: 5%;
  }
  footer{
    margin-top: 10vh;
  }
 
}

/*especificaciones html Contacto*/

.container4{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:repeat(4, 20%) ;
  margin-bottom: 30vh;
  margin-top: 13%;
}
.form1, .form2{
  display: flex;
  padding: 2%;
}

.form2{
  justify-content: flex-start;
}
.form{
  background-color: #F8F9FA;
  display: flex;
  width: 40%;
  height: 30%;
  justify-content: center;
  align-items: center;
  transform: translate(75%,0%);
}

/*mq desktop*/
@media screen and (min-width: 1020px)
{
  .container4{
    margin-top: 7%;
    margin-bottom: 15vh;
  }
}

/*Html ubicacion*/

.contenedor4{
  margin-top: 7%;
  background-color: #8BBBD9;
  padding: 2%;
  display: grid;
  margin-bottom: 20vh;
}


@media  screen and (max-width: 600px)
{
  .contenedor4{
    margin-top: 15%;
  }
  .container-text-center{
    transform: translate(7%,0%);
  }
  
}

@media screen and (min-width:600px)
{
  .contenedor4{
    margin-top: 10%;
  }
  .container-text-center{
    transform: translate(35%,0%);
  }
}
 

