/*reset*/
//reset

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

//enlace con variables
@import "variables/vars";
@import "../scss/html/inicio";
@import"../scss/variables/extend";
@import"../scss/html/nosotros";
@import"../scss/html/actividades";